<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAADm5uYAAAAAAM/PzwDo6OgA////ALq6ugDMzMwAgICAAJSUlADy8vIA29vbAL29vQCPj48ApqamAAAAAAAAAAAAGBERERERERFUURERERERERoRERERERERERiBERERERERUAURERERERFURRdxERERERqhe7d3cRERERHGa7u8ERERHWM2ZmbRERFTOZMzM1EREVmUSZmTURERFUREREmVERERVEREREUREREkRURKoRERERqhqqERERERERERERG//wAAH/8AAL//AADn/wAAw/8AAMJ/AADkBwAA/AMAAPgBAADwAQAA8AEAAPgAAAD8AAAA/AEAAP5HAAD//wAA" rel="icon" type="image/x-icon" />
    <title>Thoughts</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <!-- Error Tracking -->
    <script src="https://cdn.ravenjs.com/3.10.0/raven.min.js"></script>
</head>
<body>
    <div id="app"></div>

    <script src="<%= static_path(@conn, "/js/start.js") %>"></script>

    <script>
    /*<![CDATA[*/
        Raven.config('https://91703d8d83604327b50323979a98c791@sentry.io/138171', {
          ignoreUrls: [/localhost/]
        }).install();
    /*]]>*/
    </script>
</body>
</html>